<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Produits</title>
</head>
<body>
<!-- -->
<div
th:replace="template"></div>
<div class="container mt-5">
<div class="card">
 <div class="card-header">
 Liste des Produits
 </div>
 <div class="card-body">

 <table class="table table-striped">
 <tr>
 <th>ID</th><th>Nom Produit</th><th>Prix</th><th>Date Création</th>
 </tr>
 <tr th:each="p:${produits.content}">
 <td th:text="${p.idProduit}"></td>
 <td th:text="${p.nomProduit}"></td>
 <td th:text="${p.prixProduit}"></td>
  <td th:text="${#dates.format(p.dateCreation, 'dd/MM/yyyy')}"></td>
 <td><a onclick="return confirm('Etes-vous sûr ?')" class="btn btn-danger" th:href="@{supprimerProduit(id=${p.idProduit},
page=${currentPage},size=${size})}" >Supprimer</a></td>
<td><a class="btn btn-warning" th:href="@{modifierProduit(id=${p.idProduit},
page=${currentPage},size=${size})}" >Modifier</a></td>
 </tr>
 </table>
 <ul class="nav nav-pills">
 <li th:each="page,status:${pages}">
 <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
 th:href="@{ ListeProduits(page=${status.index}, size=${size} ) }"
 th:text="${status.index+1 }"></a>
 </li>
 </ul>
 
 
 </div>
</div>
</div>
</div>
</body>
</html>